<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<import resource="classpath:spring/applicationContext-persistence.xml" />
	<import resource="classpath:spring/applicationContext-services.xml" />
	<import resource="classpath:spring/applicationContext-commands.xml" />
	<import resource="classpath:spring/applicationContext-dao.xml" />
	<import resource="classpath:spring/applicationContext-web.xml" />
	<import resource="classpath:spring/applicationContext-etl.xml" />

	<!-- Bean to make sure struts actions are executed in a transaction -->
		
	<bean id="transactionBean" class="com.scopix.periscope.frameworksfoundation.struts2.TransactionBean"/>
</beans>
