<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <import resource="classpath:spring/applicationContext-persistence-transactions.xml" />

    <bean id="sessionFactory"  autowire="default"
		class="com.scopix.periscope.frameworksfoundation.hibernate.config.CustomAnnotationSessionFactory">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="dataSource" autowire="default"
		class="com.scopix.periscope.periscopefoundation.persistence.datasource.CustomDataSource"
		destroy-method="close" init-method="init" />
                
    <bean id="schemaExportHelper"
		class="com.scopix.periscope.frameworksfoundation.hibernate.SchemaExportHelper">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="sqlExportHelper" autowire="default"
		class="com.scopix.periscope.frameworksfoundation.hibernate.SQLExportHelper" init-method="init">
        <property name="dataSource" ref="dataSource" />
    </bean>


    <!--Para conexiones de Security Backup-->
    <bean id="securityBackupHibernateDAO"  autowire="default" 
          class="com.scopix.periscope.securitymanagement.dao.SecurityBackupHibernateDAO">
        <property name="dataSource" ref="dataSourceSecurityBackup"/>
        <property name="dataSourceLocal" ref="dataSource"/>
    </bean>

    <bean id="dataSourceSecurityBackup"  autowire="default"
          destroy-method="close"
        class="com.scopix.periscope.securitymanagement.datasource.SecurityBackupDataSource" init-method="init">
        <property name="testOnBorrow" value="true" />
        <property name="validationQuery" value="select 1" />
    </bean>

</beans>
