<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cxf.apache.org/core 
       http://cxf.apache.org/schemas/core.xsd
       http://cxf.apache.org/jaxws 
       http://cxf.apache.org/schemas/jaxws.xsd
       http://cxf.apache.org/jaxrs
       http://cxf.apache.org/schemas/jaxrs.xsd">
    
    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
    <jaxws:endpoint id="evaluationRoutingWebServicesSOAP" implementor="#evaluationRoutingWebServices" address="/EvaluationRoutingWebServices"/>
    <bean id="corsFilter" class="org.apache.cxf.rs.security.cors.CrossOriginResourceSharingFilter"/>   
    <jaxrs:server id="ActivityLogWebServices" address="/ActivityLogWebServices">
        <jaxrs:serviceBeans>
            <ref bean="activityLogWebServices" />   
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="corsFilter" />
        </jaxrs:providers>
    </jaxrs:server> 
     
</beans>
