<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<import resource="classpath:org/codehaus/xfire/spring/xfire.xml" />

	<bean id="webAnnotations"
		class="com.scopix.periscope.periscopefoundation.services.config.CustomWebAnnotations" />

	<bean id="handlerMapping"
		class="org.codehaus.xfire.spring.remoting.Jsr181HandlerMapping">
		<property name="typeMappingRegistry"
			ref="xfire.typeMappingRegistry" />
		<property name="xfire" ref="xfire" />
		<property name="webAnnotations" ref="webAnnotations" />
	</bean>

<!--    <bean id="evaluationWebServicesClient" class="com.scopix.periscope.evaluationmanagement.services.webservices.client.EvaluationWebServicesClient" init-method="init"/>
    <bean id="corporateWebServiceClient" class="com.scopix.periscope.corporatestructuremanagement.services.webservices.client.CorporateWebServiceClient" init-method="init"/>-->

</beans>
