<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
	- Application context definition for "springapp" DispatcherServlet.
-->

<beans>

	<bean id="xmlViewResolver"
		class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="order">
			<value>1</value>
		</property>
		<property name="location">
			<value>/WEB-INF/views.xml/</value>
		</property>
	</bean>
</beans>