* {
    margin:0;
    padding:0;
}

header {

}

section {
    width:90%;
    margin:0 auto;
    background:url('../img/loading2.gif') no-repeat center center;
    min-height:50px;
}

footer {
    text-align:center;
    margin-top:20px;
}

.navbar-brand {
    padding:10px;
}

td span {
    cursor:pointer;
}

.loading {
    z-index:99999999;
    position: absolute;
    width: 90%;
    background: url(../img/loading2.gif) no-repeat center #FFFFFF;
}

.loading.tabla {
    height: 100%;
    width: 100%;
}

.loading.storeForm {
    height: 365px;
    opacity: .4;
}

.custom-combobox {
    position: relative;
    display: inline-block;
    width: 95%;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
    width:33px;
    background:#e6e6e6;
    cursor:pointer;
    border:1px solid #d3d3d3;
}

.custom-combobox-toggle span {
    background: url('smoothness/img/ui-icons_454545_256x240.png') no-repeat -64px -16px;
    width: 16px;
    height: 16px;
    display: block;
    margin-top: 7px;
    margin-left: 7px;
}

.custom-combobox-input {
    width: 96%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;


}

.table_min {
    width: 10%;
    margin-bottom: 20px;
}